<div class="row">
  <div class="col-md">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">About</h2>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, in! Exercitationem dignissimos voluptas molestiae. Illum pariatur itaque harum a tempora accusamus ab veritatis sint eaque sit? Dolorem, dolores. Neque ipsum harum facere assumenda, reprehenderit, iste reiciendis fugit, mollitia ipsam saepe nam quod exercitationem illum. Laboriosam dignissimos neque molestiae facere eum.</p>
      </div>
    </div>
  </div>
</div>