<div class="jumbotron">
  <h1 class="display-5">Login - CRUD: NodeJS, Express and Passport.</h1>
  <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  <hr class="my-4">
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id possimus recusandae, tempore fugit consequatur, sit fuga quo incidunt facilis, odio aliquid harum modi commodi sapiente sunt in aspernatur ipsam laboriosam.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>

